﻿@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;

    }

}


<!-- Container for the Product List -->
<div class="container mt-4">
    <!-- Row for Title -->
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col-auto">
            <h2 class="text-primary">Order List</h2>
        </div>
    </div>

    <!-- Filter Tabs -->
    <div class="d-flex justify-content-between pb-4">
        <ul class="list-group list-group-horizontal-sm">
            <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="all">
            <li class="list-group-item @all">All</li>
            </a>
            <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
            <li class="list-group-item @inprocess">In Process</li>
            </a>
            <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="pending">
            <li class="list-group-item @pending">Payment Pending</li>
            </a>
            <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="completed">
            <li class="list-group-item @completed">Completed</li>
            </a>
            <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="approved">
            <li class="list-group-item @approved">Approved</li>
            </a>
            
        </ul>
    </div>

    <!-- Product Table -->
    <div class="table-responsive">
        <table id="tbldata" class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be populated dynamically -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Order.js"></script>
}
