@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .card {
        transition: transform 0.2s; /* Smooth transition */
    }

        .card:hover {
            transform: scale(1.02); /* Slightly increase size on hover */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
        }

    #companyField {
        display: none; /* Initially hidden */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm" id="registerCard">
                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <h4>Create a new account.</h4>
                        }
                        else
                        {
                            <h4>Register.</h4>
                        }
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                    <label asp-for="Input.Password">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Name" class="form-control" autocomplete="off" aria-required="true" placeholder="Your Name" />
                                    <label asp-for="Input.Name">Name</label>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.StreetAddress" class="form-control" placeholder="Street Address" />
                                    <label asp-for="Input.StreetAddress">Street Address</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.City" class="form-control" placeholder="City" />
                                    <label asp-for="Input.City">City</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.State" class="form-control" placeholder="State" />
                                    <label asp-for="Input.State">State</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.PostalCode" class="form-control" placeholder="Postal Code" />
                                    <label asp-for="Input.PostalCode">Postal Code</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="row mb-3">
                                <!-- Role Field -->
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control" id="roleDropdown">
                                            <option disabled selected>- Select Role -</option>
                                        </select>
                                        <label asp-for="Input.Role">Role</label>
                                    </div>
                                </div>

                                <!-- Company Field (Initially Hidden) -->
                                <div class="col-md-6" id="companyField">
                                    <div class="form-floating mb-3">
                                        <select asp-for="Input.CompanyId" asp-items="@Model.Input.CompanyList" class="form-control">
                                            <option disabled selected>- Select Company -</option>
                                        </select>
                                        <label asp-for="Input.CompanyId">Company</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success" style="transition: background-color 0.3s;">Register</button>
                    </form>
                </div>
            </div>

            @if (!User.IsInRole(SD.Role_Admin))
            {
                <div class="card mt-4 shadow-sm" id="externalLoginCard">
                    <div class="card-body">
                        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="d-flex justify-content-center gap-2">
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </div>
                            </form>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById('roleDropdown').addEventListener('change', function () {
            var selectedRole = this.value;
            var companyField = document.getElementById('companyField');
            if (selectedRole === 'Company') { // Assuming 'Company' is the value for the company role
                companyField.style.display = 'block'; // Show the company field
            } else {
                companyField.style.display = 'none'; // Hide the company field
            }
        });
    </script>
}
